html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/************************************/

body {
  font-family: 'Open Sans', sans-serif;
}


.cover img {
  object-fit: cover;
  min-height: 400px;
  max-height: 900px;
}
.invite {
  height: 900px;
  background-color: #88c7e1;
}
.invite h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 72px;
  color: #e24747;
  text-align: center;
  padding-top: 200px;
}
.invite p {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  line-height: 30px;
  color: #35606d;

  text-align: center;

  padding-top: 100px;
  width: 70%;
  min-width: 300px;
  max-width: 600px;
  margin: auto;
}

.RSVP {
  margin: auto;
  margin-bottom: 10px;
  margin-top: 100px;
  text-align: center;
}
.RSVP li{
  display:inline-flex;
  flex-direction: row;
  background-color: #75b7cc;
  padding: 10px;
  margin: 5px;
  color: #35606d;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  text-align: center;
  border-radius: 4px;
}

.map {
  height: 700px;
}




table,tr,td,th {
  background-color: #f8f9fa;
  border: 1px solid #eee;
  border-collapse: collapse;
  font-family: 'Roboto Mono', monospace;
  font-size: 8px;
  text-align: left;
  padding: 4px;
}
th {
  background-color: #ccc;
}
table {
  width: 100%;
}

img {
  width: 100% ;
}

.consta {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,1c1810+23,322835+51,111951+100 */
  background: #000000; /* Old browsers */
  background: -moz-linear-gradient(top, #000000 0%, #1c1810 23%, #322835 51%, #111951 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #000000 0%,#1c1810 23%,#322835 51%,#111951 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #000000 0%,#1c1810 23%,#322835 51%,#111951 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: 700px;
  overflow: hidden;
}
.consta img {
  height: 500px;
  opacity: 0.75;
  -webkit-animation: spin 300s infinite linear;
  position: relative;
  top: 100px;
}

@-webkit-keyframes spin {
  0%  {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}

.star_info {
  background-color: #e24747;
  color: #eee;
  font-size: 14px;
  line-height: 20px;

  padding: 10px;
  width: 360px;
  position: relative;
  bottom: 10px;
  right: 10px;
  float: right;
}

footer {
  background-color: #87d2d6;
  height: 600px;
}
#buri_text {
  height: 200px;
  margin-top: 100px;
}
#buri_icon {
  height: 100px;
}
