html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/************************************/

body {
  font-family: 'Open Sans', sans-serif;
}

.gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+1,000000+100&0+1,0+68,0.65+100 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 1%, rgba(0,0,0,0) 68%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 1%,rgba(0,0,0,0) 68%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 1%,rgba(0,0,0,0) 68%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
  height: 100%;
}
.cover  {
  background-image: url("../img/cover_1.jpg");
  background-position: top;
  background-attachment: fixed;
  background-size: cover;

  height: 600px;

}
@media (max-width: 767px) {
  .cover {
    background-image: url("../img/cover_1.jpg");
    background-position: top;
    background-attachment: scroll;
    background-size:cover;
    background-repeat: no-repeat;

    height: 380px;
  }
}
.invite {
  min-height: 750px;
  background-color: #fffdde;
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
  padding: 20px;


}
.invite h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 72px;
  color: #757f96;
  text-align: center;
  padding-top: 100px;
}
.invite p {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  line-height: 30px;
  color: #35606d;

  text-align: center;

  padding-top: 100px;
  width: 70%;
  min-width: 300px;
  max-width: 600px;
  margin: auto;
}

.RSVP {
  margin: auto;
  margin-bottom: 10px;
  margin-top: 100px;
  text-align: center;
}
.RSVP li{
  display:inline-flex;
  flex-direction: row;
  background-color: #f7f5d6;
  padding: 10px;
  margin: 5px;
  color: #35606d;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  text-align: center;
  border-radius: 4px;
}

.map {
  height: 700px;
}



.table_title {
  background-color: #333;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  color: #fff;
  padding: 5px;

}
.break_title {
  background-color: #ccc;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  color: #333;
  text-align: center;
  padding: 40px;

}
table{
  background-color: #f8f9fa;
  /*border: 1px solid #eee;*/
  border-collapse: collapse;
  font-family: 'Roboto Mono', monospace;
  font-size: 8px;
  text-align: left;
  padding: 2px;
}
th,th a{
  background-color: #333;
  color: #fff;
}
table {
  width: 100%;
}
td {
  border-left: 1px solid #eee;
  background-color: #fafafa;
}
th td {
  border-left: none;
  background-color: #333;
}

img {
  width: 100% ;
}



.consta {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,1c1810+23,322835+51,111951+100 */
  background: #000000; /* Old browsers */
  background: -moz-linear-gradient(top, #000000 0%, #1c1810 23%, #322835 51%, #111951 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #000000 0%,#1c1810 23%,#322835 51%,#111951 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #000000 0%,#1c1810 23%,#322835 51%,#111951 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: 900px;
  overflow: hidden;
  position: relative;
}
.consta img {
  height: 500px;
  opacity: 0.75;
  -webkit-animation: spin 200s infinite linear;
  position: absolute;
  top: 250px;
}

@-webkit-keyframes spin {
  0%  {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}

.star_info {
  background-color: #e24747;
  color: #eee;
  font-size: 14px;
  line-height: 20px;



  padding: 10px;
  width: 360px;
  height: 100px;

  position: absolute;
  float: right;
  vertical-align: bottom;
  bottom: 10px;
  right: 10px;
}
.door {
  background-image: url("../img/door.jpg");
  background-size: cover;
  background-position: center;
  height: 900px;
}
.join_us {
  background-color: #e24747;
  width: 300px;
  height: 300px;

  position: relative;
  top: 5%;
  left: 5%;

  border-radius: 40px;

}
.join_us h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 72px;
  color: #fff;
  text-align: center;
  padding-top: 80px;
}
.join_us p {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  /*line-height: 30px;*/
  color: #333;

  text-align: center;

  padding-top: 50px;
  width: 70%;
  min-width: 300px;
  max-width: 600px;
  margin: auto;
}
/*.door img {
  object-fit: cover;
  min-height: 400px;
  max-height: 900px;
}*/

footer {
  background-color: #e3faff;
  height: 900px;
}

.buri {
  font-family: 'Noto Sans', sans-serif;
  font-size: 72px;
  color: #e24747;
  text-align: center;
  padding-top: 300px;
}
#buri_icon {
  padding-top: 100px;
  height: 100px;
}
